body{
    margin:0;
    padding: 0;
    background: #262626;

}

a{
    position: relative;
    margin-left: 50px;
    margin-top: 50px;
    display: block;
    width: 180px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 24px;
    letter-spacing: 2px;
    color: #ffff;
    text-decoration: none;

}

a svg,
a svg rect{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    fill: transparent; 
}

a svg rect{
    stroke: #fff ;
    stroke-width: 4;
    transition: .4s;
    stroke-dasharray: 500,500;
    stroke-dashoffset: 0;
}

.dropdown:hover svg rect{
    stroke-dashoffset: 100;
    stroke-dasharray: 100,280;
    stroke: yellow;
}



.item{
    border: 0px solid #262626; 
    padding: 2em;
    margin: 5px;
    text-align: left;
    margin-left: 10px;
    line-height: 35px;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 2px;
    color: #ffff;
    text-decoration: none;
    transition: border-color .5s, border-left-width .5s, color .5s;
}


.item:hover{
    border-left-width: 15px;
    color:yellow;
    border-left-color: yellow;

}

.drpdnbtn{
    color: white;
    padding: 2em;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown{
    position: relative;
    display: inline-block;

}

.content{
display: none;
position: absolute;
min-width: 300px;
}

.content li{
    color:white;
    padding: 12px 16px;
    padding-left:55px;
    display: block;
}

.dropdown:hover .content{
    display: block;
}

main{
    margin-top:200px;
}
.Glower{
    position: relative;
    margin-left: 400px;
    display: block;
    margin-top: 400px;
    padding: 0;
    display: flex;
   
}

.Glower li{
    list-style: none;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    margin: 0 50px;
    background: rgba(255,255,255,.2);
    border-radius: 50%;
    color: #262626;
    transition: .5s;
}
.Glower li:hover{
    background: #fff;
    box-shadow: 0 0 10px rgba(255,255,255,1),
                0 0 20px rgba(255,255,255,1),
                0 0 30px rgba(255,255,255,1),
                0 0 0 75px rgba(255,255,255,0.05),
                0 0 0 60px rgba(255,255,255,0.05)
                0 0 0 45px rgba(255,255,255,0.05),
                0 0 0 30px rgba(255,255,255,0.05),
                0 0 0 15px rgba(255,255,255,0.05);
               
}
