@font-face {
    font-family: karla;
    src: url(Karla-Regular.ttf);
  }
body{
    margin:0;
    padding: 0;
    background: #262626;
    font-family: karla;


}

#Menu{
    position: relative;
    margin-left: 50px;
    margin-top: 50px;
    display: block;
    width: 180px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    text-transform: uppercase; 
    font-size: 30px;
    letter-spacing: 2px;
    color: #ffff;
    text-decoration: none;

}

.gl{
    color:white;
    display: block;
    text-decoration: none;
} 

a svg,
a svg rect{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    fill: transparent; 
}

a svg rect{
    stroke: #fff ;
    stroke-width: 4;
    transition: .4s;
    stroke-dasharray: 500,500;
    stroke-dashoffset: 0;
    cursor: default;
}

.dropdown:hover svg rect{
    stroke-dashoffset: 100;
    stroke-dasharray: 100,280;
    stroke:rgb(255, 217, 0);
}



.item{
    border: 0px solid #262626; 
    padding: 2em;
    margin: 5px;
    text-align: left;
    margin-left: 10px;
    line-height: 35px;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 2px;
    color: #ffff;
    text-decoration: none;
    transition: border-color .5s, border-left-width .5s, color .5s;
}

/*Lägga till så att elementen flyter ner*/
.item:hover{
    border-left-width: 15px;
    color:rgb(255, 217, 0);
    border-left-color: rgb(255, 217, 0);

}

.drpdnbtn{
    color: white;
    padding: 2em;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown{
    position: relative;
    display: inline-block;

}

.content{
display: none;
position: absolute;
min-width: 300px;
}

.content li{
    color:white;
    padding: 12px 16px;
    padding-left:55px;
    display: block;
    cursor: pointer
}

.dropdown:hover .content{
    display: block;
}

main{
    margin-top:200px;
}
.Glower{
    position: relative;
    margin-left: 680px;
    display: block;
    margin-top: 400px;
    padding: 0;
    display: flex;
   
}

.Glower li{
    list-style: none;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    margin: 0 50px;
    background: rgba(255,255,255,.2);
    border-radius: 50%;
    color: #262626;
    transition: .5s;
}
.Glower li:hover{
    cursor: pointer;
    background:  #fff;
    box-shadow: 0 0 10px rgb(255, 217, 0, 1),
                 0 0 20px rgba(255, 217, 0, 1),
                0 0 30px rgba(255, 217, 0, 1),
                0 0 0 75px rgba(255, 217, 0, 0.05),
                0 0 0 60px rgba(255, 217, 0, 0.05),
                0 0 0 45px rgba(255, 217, 0, 0.05),
                0 0 0 30px rgba(255, 217, 0, 0.05),
                0 0 0 15px rgba(255, 217, 0, 0.05);
                
}

.Outer{
margin: 0;
padding: 0;
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
position: relative;
}

.containero{
    position: relative;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr)) ;
    grid-template-rows: auto;
    grid-gap: 0 160px;
}

.containero .box{
    position: relative;
    height: 400px;
    display: flex;
    background: #262626;
    justify-content: center;
    align-items: center;
    border: 1px solid #262626;
}

.containero .box:before{
     content: '';  
    position: absolute;
    top: -2px; 
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: rgb(255, 217, 0);
    transform: skew(2deg,2deg);
    z-index: -1; 
}

.containero .box:nth-child(1):before{
    background: linear-gradient(315deg, #ff0057, #e64a19);
}

.containero .box:nth-child(2):before{
    background: linear-gradient(315deg, #89ff00, #00bcd4);
}

.containero .box:nth-child(3):before{
    background: linear-gradient(315deg, #e91e63, #5d02dd);
}

.containero .box:nth-child(4):before{
    background: linear-gradient(315deg, #ff0000, #ffc107);
}

.containero .box:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(255,255,255,0.05);
    pointer-events: none;
}

.contento{
    position: relative;
    padding: 20px;
}

.box .contento h2{
    position: absolute;
    top: -40px;
    right: 20px;
    margin: 0;
    padding: 0;
    font-size: 10em;
    color: rgba(255,255,255, .05);
    transition: 0.5s;
    cursor: default;
}
.box:hover .contento h2{
    top: -110px;
}

.box .contento h3{
margin: 0 0 10px;
padding: 0;
color: #FFF;
font-weight: 500;
}

.box .contento p{
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 16px;
}

.box .contento a {
    position: relative;
    margin: 0;
    text-decoration: none;
    border: 1px solid #fff;
    font-size: 13px;
    display: inline-block;
    color: #FFF;
    transition: .5s;
    margin-top: 40px;
    transform: translateY(-40px);
    opacity: 0;
    visibility: hidden;

}

.box:hover .contento a{
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
}

.box .contento a:hover{
    color: #262626;
    background: #FFF;
}



