

    body{
        background-color: #757575; 
        min-width: 1000px;
        margin :auto;
}

    .header{

        padding: 60px;
        text-align: center;
        background-color: #7a1212;
        color: white;

}
    
    h1{

        display: block;
        font-size: 2em;
        margin-block-start: 0.67em;
        margin-block-end: 0.67em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: bold;
    }

    h2{
        margin:0;
        padding : 20px;
    }


     .navbar{
        background-color: red;
        padding: 13px 0;
    }

    
    .button {
        color: white;
        padding: 14px 20px;
        text-decoration: none;
        text-align: center;
        transition: all .3s;
      }

      ul{
        list-style: none;
        margin: 0 auto;    
        padding: 0;
}

      img{
          height: 70%;
          width: 70%;
          border:4px solid black; 

}

      p{
        font-size: 1em;
        text-align: center;
}

    li{
        text-align: center;
    
}

.content1,.content2{
    background-color: white;

}

  

    .content1 p, .content2 p{
        width: 70%;
        display: inline-block;
    }

    @media (min-width: 1350px ){

    body{
    margin: auto;
    max-width: 1350px;
    }
    .content1{
        float: left;
        width: 70%;
        padding-top: 20px;

    }

    .content2{
        float: left;
        width: 30%;
        padding-top: 20px;
        padding-bottom: 475px;
    }

}
