*{
    box-sizing: border-box;
}

html, body{
    padding: 0;
    margin: 0;

}

.container{
   display: grid;
    grid-auto-flow: column;
    grid-gap:10px 10px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.item{
    background-color: rgb(246, 152, 0); 
    padding: 1em;
    font-size: 2em;
    text-align: center;

}



#item2{
    background-color: rgb(248, 55, 55);
    grid-row: 1 / span 3;
    grid-column: 3;
}

#item1, #item3 , #item4{
    grid-column: 1 / span 2;
}

#item5, #item6{
    grid-column: 1 / span 3;
}

#item5{
    grid-row: 4 /span 2;
}