/*id = 10*/

body{
    background-color: #FFD662;
    max-width: 1000px;
   
    margin:auto;
    font-family: OB;
    background-image: url("source.gif");
    background-repeat: no-repeat;
    background-attachment: fixed;
    /*background-color: #FE5F55;*/
    color: #2a6592;
}

@font-face{
    font-family: OB;
    src: url(04B_30__.TTF);
}

#title{
    margin-top: 50px;
    text-align: center;
    text-transform: uppercase;
    font-size: 50px;
    margin-bottom: 100px;
    
    
}

#items{
    font-size: 20px;
    list-style: none;
    
}

.stylish{
    background: rgba(0, 0, 0, 0.8);
    padding: 20px;
    
    
}

.container{
  
    float: right;
    margin-top: -50px;
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}


.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }
  
  
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  

  .container input:checked ~ .checkmark {
    background-color: #2a6592;
  }
  
 
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
 
  .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  h2{
    cursor: pointer;
  }

  .add{
    text-align: center;
    font-family: OB;
    font-size: 2em;
    background-color: red;
  }